 body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right,
    #1c3550 0%,
    #698cb7 25%,
    #698cb7 75%,
    #1c3550 100%);
}
#link_a, #link_c{
    display: block;
    height: 800px;
}
#link_b {
    display: block;
    height: 2300px;
}
.menu{
    text-align: center;
    margin: 30px 0px;
}
.menu a{
    font-size: 35px;
    padding: 10px 25px;
    color: rgb(37, 55, 77);
    text-decoration: none;
}
.menu a:hover{
    color: rgb(224, 201, 99);
}
.fixed_div{
    display: block;
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: rgb(224, 201, 99);
    border-radius: 20px;
}
.fixed_div a{
    font-size: 25px;
    text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}
p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    color: rgb(224, 201, 99);
}
.header {
    position: relative;
    text-align: center;
    color: white;
    bottom: -55%;
}

.inner-header {
    vertical-align: bottom;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
    
}

.parallax>use {
    /* 使use元素执行move-forever动画 */
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    /* 延迟2秒启动动画  */
    animation-delay: -2s;
    /* 设置动画持续时间为7秒 */
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}